body {
    background:#191C59;
    font-family: 'Courier New', Courier, monospace;

}

h1{
    color:#8B89D9;
    text-align:center;
}

.assignment{
    color:#72F2CE;
    display: flex;
    padding: 10px;
    margin:10px;
    background:#111440;
    border-radius: 10px;
}

.assignment img{
    width:200px;
    margin:10px;
    border: 5px solid #38358C;
}

.assignment img:hover{
    border: 5px solid #006cf8fa;
}

a{
    text-decoration: none;
    color: #F2F2F2;
}

a:hover{
   color: #006cf8fa;
}