body {
    background:#191C59;
    font-family: 'Courier New', Courier, monospace;

}

h1{
    color:#8B89D9;
    text-align:center;
}
h2{
    text-align:center;
}

.assignments{
    display:flex;
    flex-wrap: wrap;
}

.assignment{
    width: 22%;
    color:#72F2CE;
    padding: 20px 10px;
    margin:10px;
    background:#111440;
    border-radius: 10px;
}

.assignment img{
    width:200px;
    margin:10px;
    border: 5px solid #38358C;
    display:block;
    margin:auto;
}

.assignment img:hover{
    border: 5px solid #006cf8fa;
}

a{
    text-decoration: none;
    color: #F2F2F2;
}

a:hover{
   color: #006cf8fa;
}