body {
    background:#BF68FF;
    font-family: 'Courier New', Courier, monospace;

}

h1{
    color:#FFD700;
    text-align:center;
}

.assignment{
    color:#FFD700;
    display: flex;
    padding: 10px;
    margin:10px;
    background:#a882ab;
}

.assignment img{
    width:200px;
    padding:10px;
}